.videos{
  
}

.video{
  float: left;
  margin: 0 0;
  width: 50%;
  text-align: center;
}

.description{
  width: 50%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.videoContainer{
  float: left;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  display:table;
  
}

.content{
  width: 100%;
}