@charset "UTF-8";
.division1 {
  width: 50%;
  float: left;
}
.photo img{
  width: 100%;
}
.division2 {
    background-color: #FFFFFF;
}
.division2 h1 {
    font-weight: bold;
    font-family: helvetica;
}
.division2 p {
    font-family: helvetica;
    color: #888888;
    line-height: 2;
    padding-left: 20px;
}
